$primary-color: #284B63;
$secondary-color: #FE7F2D;
$terciary-color: #005A9F;
$gray-color: #D9D9D9;
$black-color: #222222;
$white-color: #FFFFFF;

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    terciaryColor: $terciary-color;
    grayColor: $gray-color;
    blackColor: $black-color;
    whiteColor: $white-color;
}

.fill-webplat-primary-color {
    fill: $primary-color;
}

.bg-webplat-primary-color {
    background-color: $primary-color;
}

.bg-webplat-primary-color-with-hover {
    background-color: $primary-color;
    &:hover {
        background-color: $primary-color !important;
        filter: brightness(125%);
    }
}

.bg-webplat-secondary-color {
    background-color: $secondary-color;
}

.bg-webplat-secondary-color-with-hover {
    background-color: $secondary-color;
    &:hover {
        background-color: $secondary-color !important;
        filter: brightness(115%);
    }
}

.bg-webplat-white-color {
    background-color: $white-color;
}

.bg-webplat-terciary-color {
    background-color: $terciary-color;
}

.color-webplat-terciary-color {
    color: $terciary-color;
}